@font-face {font-family: "Heebo Light"; src: url("//db.onlinewebfonts.com/t/3a8f3a1fc7dd3c5bb3ce44a022654dd5.eot"); src: url("//db.onlinewebfonts.com/t/3a8f3a1fc7dd3c5bb3ce44a022654dd5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3a8f3a1fc7dd3c5bb3ce44a022654dd5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3a8f3a1fc7dd3c5bb3ce44a022654dd5.woff") format("woff"), url("//db.onlinewebfonts.com/t/3a8f3a1fc7dd3c5bb3ce44a022654dd5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3a8f3a1fc7dd3c5bb3ce44a022654dd5.svg#Heebo Light") format("svg"); }
@font-face {font-family: "YouSheBiaoTiHei"; src: url("//db.onlinewebfonts.com/t/396385b48ad7cb2df0fea7b96a899414.eot"); src: url("//db.onlinewebfonts.com/t/396385b48ad7cb2df0fea7b96a899414.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/396385b48ad7cb2df0fea7b96a899414.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/396385b48ad7cb2df0fea7b96a899414.woff") format("woff"), url("//db.onlinewebfonts.com/t/396385b48ad7cb2df0fea7b96a899414.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/396385b48ad7cb2df0fea7b96a899414.svg#YouSheBiaoTiHei") format("svg"); }
* {
    margin: 0px;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
li, a, button{
    font-family: 'YouSheBiaoTiHei';
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}
input{
    vertical-align: middle;
}
input[type="submit"]{
    background: transparent;
    color: #dbdee6;
    padding: 10px;
    border-color: #dbdee6;
    border-width: 2px;
    border-radius: 10px;
    font-size: 20px;
    border-style: ridge;
}
input[type="submit"]:hover{
    color: #ffffff;
    background:radial-gradient(#ffffff05,#ffffff15);
    border-color: #ffffff;
}

input[type="submit"]:disabled{
    opacity: 0.5;
    color: #edf0f1;
    border-color: #edf0f1;
}
header{
    background: #010a14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.navbar-content{
    list-style: none;
}

.navbar-content li{
    display: inline-block;
}

.navbar-content li a{
    transition: all 0.3s ease 0s;
    padding-right: 50px;
}

.navbar-content li a:hover{
    color: #071A5F;
}

.welcome-bg{
    height: calc(100vh - 125px);
    background-image: url("./Assets/background.jpg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
}

.welcome{
    height: calc(100vh - 125px);
    background:#120e54d8;
    justify-content: center;
}
.welcome-section{
    padding-top: 30vh;
    padding-left: 10vw;
    min-height: 20vh;
}

.welcome-title{
    font-family: 'YouSheBiaoTiHei';
    color: rgb(202, 202, 202);
    font-size: 102px;
    padding-bottom: 10px;
}
.welcome-title p{
    font-size: 40px;
}
.welcome-text{
    font-size: 52px;
    height: 72px;
    font-weight: 200;
    color: rgb(202, 202, 202);
    font-family:  "Microsoft Yahei";
    display: flex;
    gap: 20px;
}

.words{
    display:block;
    position: relative;
    animation: words-animation 10s infinite;
}

.word-wrapper{
    overflow: hidden;
    height:100%;
    border-width:10px;
    border-color:white;
}

@keyframes words-animation {
	0% 
    { transform: translateY(0%)}
    15%{transform: translateY(0%)}
	25% {transform: translateY(-25%)}
    40% {transform: translateY(-25%)}
    50% { transform: translateY(-50%)}
    65% { transform: translateY(-50%)}
    75% { transform: translateY(-75%)}
    90% { transform: translateY(-75%)}
    100% { transform: translateY(0%)}
}

.start-url{
    padding-top: 20vh;
    position:relative;
    text-align: center;
    overflow: hidden;
}

.start-url img{
    animation-delay: 2s;
    animation: arrow 3s infinite;
}

@keyframes arrow {
    0%{
        transform: rotate(90deg) scale(1);
    }
    50%{
        transform: rotate(90deg) scale(1.1);
    }
    100%{
        transform: rotate(90deg) scale(1);
    }
    
}


.user-feedback{
    display: None;
    position: absolute;
    padding-left: 30vw;
}
.alarm{
    background: rgba(255,255,255, 0.75);
    border-radius: 20px;
    padding: 10px;
    width: 25vw;
    font-size: large;
    display: fixed; 
    position:absolute;
}

.first-section{
    font-family: 'Heebo Light';
    background:  radial-gradient(#031933, #021326, #021326);
    padding-top: 5vh;
    font-size: x-large;
}

.url-box{
    overflow: hidden;
    text-align:center;
    font-size: xx-large;
    width: auto;
    color: white;
    width: auto;
    min-height: 20vh;
}

.loading{
    display: absolute;
    min-height: 15px;
}

.summary-box{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5vh;
    width: 50vw;
    padding-left: 25vw;
    position: relative;
    
}
.summary-container{
    background: #FAFAFA;
    min-height: 40vh;
    min-width: 50vw;
    border-radius: 20px;
    border-style: solid;
    border-color:  #010a14;
    color: #010a14;
    justify-content: center;
}

#summary{
    font-size: x-large;
    justify-content:center;
    max-width: 40vw;
    padding-left: 5vw;
    
}
.table-response{
    margin-left: auto;
    margin-right:auto;
}

td {
    padding: 15px;
}

.feedback{
    background: darkgray;
    border-color:  #bfbfbf;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    display: none; 
    position:absolute;
}

.rating-container{
    justify-content: center;
    text-align: center;
    min-height: 30vh;
    color: white;
}

.rating-feedback{
    display: none;
}

#rating{
    bottom:0;
    padding-top:5vh;
    padding-bottom: 1vh;
    font-size: larger; 
}
.supported-sites{
    background: #010a14;
    color: white;
    font-family: 'YouSheBiaoTiHei';
    font-size: 20px;
    border: rgb(236, 251, 255);
    text-align: center;
    height: auto;
    padding: 5vh;
    min-height: 330px;
}
.sites-container{
    padding-top: 5vh;
    padding-left: 25vw;
    padding-right: 25vw;
    min-width:40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site{
    min-width: 300px;
    padding-left: 20px;
}
.sites a:hover{
    cursor: pointer;
}
.comments-container{
    background: radial-gradient(#031933, #021326, #021326);
    padding-top: 5vh;
    justify-content: center;
    text-align: center;
    min-height:25vh;
    color: white;
    font-family: 'Heebo Light';
    overflow: hidden;
}
.comments-back{
    border-radius: 20px;
}
.comments{
    font-family: "Heebo Light";
    font-size: 26px;
}
.username-box{
    padding-left: 30vw;
    width: 40vw;
    text-align: left;
    justify-content: center;
}
.textarea-username{
    text-align: left;
    min-height: 20px;
    width: 20vw;
}
.textarea-comment{
    min-height: 7vh;
    width: 40vw;
}
.comments-back{
    color: white;
}
.top-comments{
    align-items: center;
    display: flex;
    height: 25vh;
    padding: 20px;
    animation: scroll 180s linear infinite;
    width: calc(40vw * 8);
    overflow: hidden;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-40vw * 8))}
}


.comment-block{
    color: white;
    height: 25vh;
    width: 35vw;
}

.user{
    font-size: x-large;
    font-weight: bold;
}
.comment-text{
    padding: 30px;
    font-size: x-large;
    display: inline-block;
    padding-left: 30px;
    justify-content: space-evenly;
}

.write-comment{
    padding-top: 100px;
    justify-content: center;
}

.about-box{
    padding-top: 5vh;
    min-height: 60vh;
    justify-content: center;
    padding-left: 25vw;
    padding-right: 25vw;
    background: #010a14;

}

.about{
    text-align: center;
    background: white;
    color: black;
    border-radius: 20px;
    justify-content: center;
    padding: 5vh;
    padding-top: 2vh;
}
.about-title{
    font-family: "Heebo Light";
    font-size: 20px;
}
#about-text{
    font-size: x-large;
    text-align: center;
    font-family: "Heebo Light";
}

#about-text a{
    color:rgba(1, 10, 20, 1);
    width: 20vw;
}

footer{
    min-height: 15vh;
    background: radial-gradient(#031933, #021326, #021326);
    padding: 2vh;
}
.footer-container{
    text-align: center;
    color: white;
    font-family: 'YouSheBiaoTiHei';
    font-size: 22px;
}
.license{
    text-align: center;
    color:rgba(255,255,255, 0.75);
    float: bottom;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

@media (max-width: 1300px){
    .welcome{
        text-align: center;
    }
    .welcome-bg{
        background-size: auto calc(100vh - 125px);
    }
    .welcome-section{
        padding-left: 0;
        height: auto;
    }

    .welcome-title{
        font-size: 42px;
    }
    
    .welcome-text{
        font-size: 32px;
        height: 50px;
        justify-content: center;
    }
    
    .welcome-title{
        padding-left:0px;
    }

    .url-box{
        height: auto;
    }
    .url-in{
        width: 90vw;
        height: 5vw;
    }

    .summary-container{
        min-width: 90vw;
    }
    .summary-box{
        width: 90vw;
        padding-left: 5vw;        
    }

    #summary{
        max-width: 90vw;
        padding: 5vw;
        
    }
    .rating-container{
        font-size: 20px;
        overflow: hidden;
    }
    .alarm{
        width: 95vw;
    }

    .top-comments{
        width: calc(150vw * 8);
    }

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-150vw * 8))}
    }
    .comment-block{
        width: 110vw;
    }
    .comment-text{
        font-size: 20px;
    }
    .site{
        padding-left: 0px;
    }
    .supported-sites{
        min-height: 40vh;
        padding: 0vw;
        height: auto;
        padding-bottom: 10vh;
    }
    .sites-container{
        padding-top: 5vh;
        padding-left: 0vw;
        padding-right: 5vw;
        width:100vw;
        display: block;
    }

    .comment-block{
        width: 90vw;
    }

    .username-box{
        padding-left: 5vw;
        width: 90vw;
    }

    .user-feedback{
        padding-left: 5vw;
    }

    #comment{
        width: 90vw;
    }

    .about-box{
        padding-right: 2vw;
        padding-left: 2vw;
        padding-bottom: 5vh;
        height: auto;
    }
    .about{
        padding:2vw;
        font-size: 20px;
    }

    footer{
        overflow: hidden;
    }
    
}