* {
    margin: 0px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: blueviolet;
}

body{
    background: grey;
}
.navbar{
    height: 7vh;
    background: #545454;
}
.navigation{
    padding-top: 2vh;
}
.navbar a{
    padding-left: 5vw;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover{
    color:aliceblue;
    transition-duration: 0.5s;
}

.alarm{
    background: darkgray;
    border-color:  #bfbfbf;
    border-radius: 20px;
    padding: 10px;
    width: 50vw;
    font-size: large;
    display: none; 
    position:absolute;
}

.first-section{
    padding-top: 5vh;
    font-size: x-large;
}

.url-box{
    text-align:center;
    width: auto;
    height: 15vh;
}
.loading{
    display: absolute;
    height: 15px;
}

.summary-box{
    text-align: center;
    padding-top: 5vh;
    width: 50vw;
    padding-left: 25vw;
    position: relative;
    
}

.summary-container{
    background: darkgray;
    min-height: 40vh;
    min-width: 50vw;
    border-radius: 20px;
    border-style: solid;
    border-color:  #bfbfbf;
    justify-content: center;
}

#summary{
    font-size: x-large;
    justify-content:center;
    max-width: 40vw;
    padding-left: 5vw;
    
}

.table-response{
    margin-left: auto;
    margin-right:auto;
}

td {
    padding: 15px;
}

.feedback{
    background: darkgray;
    border-color:  #bfbfbf;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    display: none; 
    position:absolute;
}

.rating-container{
    justify-content: center;
    text-align: center;
    height: 30vh;
}

#rating{
    bottom:0;
    padding-top:5vh;
    padding-bottom: 5vh;
    font-size: larger; 
}

.comments-container{
    justify-content: center;
    text-align: center;
    padding-left:25vw;
    padding-right: 25vw;
    min-height:100vh;
}

.comments-back{
    background: darkgray;
    border-radius: 20px;
}

textarea{
    height: 7vh;
    width: 40vw;
}

.top-comments{
    overflow: auto;
    height: 100vh;
}

.comment-block{
    margin: auto;
    width: 40vw;
    border-style: dotted;
}

.user{
    font-size: x-large;
    font-weight: bold;
}
.comment-text{
    padding: 30px;
    font-size: x-large;
    display: inline-block;
    padding-left: 30px;
    justify-content: space-evenly;
}

.write-comment{
    padding-top: 50px;
}

.about-box{
    padding-top: 5vh;
    height: 100vh;
    justify-content: center;
    padding-left: 25vw;
    padding-right: 25vw;

}

.about{
    text-align: center;
    background: darkgray;
    border-radius: 20px;
    justify-content: center;
    padding: 5vh;
}

#about-text{
    font-size: x-large;
    text-align: center;
}