@import url(//db.onlinewebfonts.com/c/396385b48ad7cb2df0fea7b96a899414?family=YouSheBiaoTiHei);
@import url(//db.onlinewebfonts.com/c/3a8f3a1fc7dd3c5bb3ce44a022654dd5?family=Heebo+Light);
* {
    margin: 0px;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
li, a, button{
    font-family: 'YouSheBiaoTiHei';
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    background: #010a14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.navbar-content{
    list-style: none;
}

.navbar-content li{
    display: inline-block;
}

.navbar-content li a{
    transition: all 0.3s ease 0s;
    padding-right: 50px;
}

.navbar-content li a:hover{
    color: #071A5F;
}

.alarm{
    background: rgba(255,255,255, 0.75);
    border-radius: 20px;
    padding: 10px;
    width: 25vw;
    font-size: large;
    display: none; 
    position:absolute;
}

.first-section{
    font-family: 'Heebo Light';
    background:  radial-gradient(#031933, #021326, #021326);
    padding-top: 5vh;
    font-size: x-large;
}

.url-box{
    overflow: hidden;
    text-align:center;
    font-size: xx-large;
    width: auto;
    color: white;
    width: auto;
    height: 20vh;
}

.loading{
    display: absolute;
    height: 15px;
}

.summary-box{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5vh;
    width: 50vw;
    padding-left: 25vw;
    position: relative;
    
}
.summary-container{
    background: #FAFAFA;
    min-height: 40vh;
    min-width: 50vw;
    border-radius: 20px;
    border-style: solid;
    border-color:  #010a14;
    color: #010a14;
    justify-content: center;
}

#summary{
    font-size: x-large;
    justify-content:center;
    max-width: 40vw;
    padding-left: 5vw;
    
}
.table-response{
    margin-left: auto;
    margin-right:auto;
}

td {
    padding: 15px;
}

.feedback{
    background: darkgray;
    border-color:  #bfbfbf;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    display: none; 
    position:absolute;
}

.rating-container{
    justify-content: center;
    text-align: center;
    height: 30vh;
    color: white;
}

#rating{
    bottom:0;
    padding-top:5vh;
    padding-bottom: 5vh;
    font-size: larger; 
}
.supported-sites{
    background: #010a14;
    color: white;
    font-family: 'YouSheBiaoTiHei';
    font-size: 20px;
    border: rgb(236, 251, 255);
    text-align: center;
    height: 35vh;
    padding: 5vh;
    min-height: 330px;
}
.sites-container{
    padding-top: 5vh;
    padding-left: 25vw;
    width:40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sites a:hover{
    cursor: pointer;
}
.comments-container{
    background: radial-gradient(#031933, #021326, #021326);
    padding-top: 5vh;
    justify-content: center;
    text-align: center;
    min-height:25vh;
    color: white;
    font-family: 'Heebo Light';
    overflow: hidden;
}
.comments-back{
    border-radius: 20px;
}
.comments{
    font-family: "Heebo Light";
    font-size: 26px;
}

textarea{
    height: 7vh;
    width: 40vw;
}
.comments-back{
    color: white;
}
.top-comments{
    align-items: center;
    display: flex;
    height: 25vh;
    padding: 20px;
    animation: scroll 180s linear infinite;
    width: calc(40vw * 8);
    overflow: hidden;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-40vw * 8))}
}


.comment-block{
    color: white;
    height: 25vh;
    width: 35vw;
}

.user{
    font-size: x-large;
    font-weight: bold;
}
.comment-text{
    padding: 30px;
    font-size: x-large;
    display: inline-block;
    padding-left: 30px;
    justify-content: space-evenly;
}

.write-comment{
    padding-top: 50px;
}

.about-box{
    padding-top: 5vh;
    height: 60vh;
    justify-content: center;
    padding-left: 25vw;
    padding-right: 25vw;
    background: #010a14;

}

.about{
    text-align: center;
    background: white;
    color: black;
    border-radius: 20px;
    justify-content: center;
    padding: 5vh;
    padding-top: 2vh;
}
.about-title{
    font-family: "Heebo Light";
    font-size: 20px;
}
#about-text{
    font-size: x-large;
    text-align: center;
    font-family: "Heebo Light";
}

#about-text a{
    color:rgba(1, 10, 20, 1);
    width: 20vw;
}

footer{
    height: 15vh;
    background: radial-gradient(#031933, #021326, #021326);
    padding: 2vh;
}
.footer-container{
    text-align: center;
    color: white;
    font-family: 'YouSheBiaoTiHei';
    font-size: 22px;
}
.license{
    text-align: center;
    color:rgba(255,255,255, 0.75);
    float: bottom;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

@media (max-width: 1300px){
    .url-box{
        height: auto;
    }
    .url-in{
        width: 90vw;
        height: 5vw;
    }

    .summary-container{
        min-width: 90vw;
    }
    .summary-box{
        width: 90vw;
        padding-left: 5vw;        
    }

    #summary{
        max-width: 90vw;
        padding: 5vw;
        
    }
    .rating-container{
        font-size: 20px;
        overflow: hidden;
    }
    .alarm{
        width: 95vw;
    }

    .top-comments{
        width: calc(150vw * 8);
    }

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-150vw * 8))}
    }
    .comment-block{
        width: 110vw;
    }
    .comment-text{
        font-size: 20px;
    }
    .supported-sites{
        min-height: 40vh;
        padding: 0vw;
        height: auto;
        padding-bottom: 10vh;
    }
    .sites-container{
        padding-top: 5vh;
        padding-left: 2vw;
        width:100vw;
        display: block;
    }

    .comment-block{
        width: 90vw;
    }

    #comment{
        width: 90vw;
    }

    .about-box{
        padding-right: 2vw;
        padding-left: 2vw;
        padding-bottom: 5vh;
        height: auto;
    }
    .about{
        padding:2vw;
        font-size: 20px;
    }

    footer{
        overflow: hidden;
    }
    
}